public/data
public/data-gl
src/data
src/data
src/data



# From git ignore
node_modules
release
public/vendors/echarts/map/tool
public/vendors/echarts/map/raw
/public.zip
/build/config.gypi
/public-gh


# Built file
/public/js
/public/css
/public/asset
/public/data/option
/public/data-gl/option
/e2e/package-lock.json

tmp