.panel.panel-default.nav-dropdown-panel#user-dropdown-panel
    .panel-body
        ul.nav.nav-pills.nav-stacked
            li
                a(href='profile') 我的页面
            li
                a(onclick='logout()', href='javascript:;') 退出登录
