doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        //- link(rel='stylesheet', type='text/css', href='http://localhost:3000/stylesheets/main.css')

    body
        #chart-container

        script(type='text/javascript', src='http://localhost:3000/vendors/echarts/echarts-all-3.0.0.js')

        script(type='text/javascript').
            console.log('ok');
