extends layouts/inner

block inner_content

    #left-chart-nav
        ul

    #explore-container
        #toolbar
            #theme
                span 选择主题:

                a(href="./index.html" class="default")
                    span
                a(href="./index.html?theme=light" class="light")
                    span
                a(href="./index.html?theme=dark" class="dark")
                    span

        .chart-list-panel

block extra_js

    //- script(type='text/javascript', src='http://localhost:3000/vendors/echarts/echarts-all-2.2.7.js')
    //- script(type='text/javascript', src='./vendors/echarts/echarts-all-3.0.0.js')
    //- script(id='echarts-js', type='text/javascript', src='./vendors/echarts/map/js/china.js')
    //- script(id='echarts-js', type='text/javascript', src='./vendors/echarts/map/js/world.js')

    script(type='text/javascript', src='./vendors/waypoint.js')

    script(type='text/javascript', src='./javascripts/chart-list-data.js')
    script(type='text/javascript', src='./javascripts/chart-list-data-gl.js')
    script(type='text/javascript', src='./javascripts/chart-list.js')

    script(type='text/javascript').
        var navExplore = document.getElementById('nav-explore');
        navExplore.className = 'active';

    script(type='text/javascript' src='./javascripts/hm.js')
