$control-panel-height: 50px;

.dg.main * {
    box-sizing: content-box;
}
.dg.main input {
    line-height: normal;
}

.dg.main.a {
    overflow-x: visible;
}

.right-container {
    position: absolute;
    right: 0;

    width: 50%;
    height: 100%;
    padding: 0;
    padding-left: $handler-width;
    border: none;
    z-index: 30;

    background: $clr-bg;

    .right-panel {
        padding: $pd-basic;
        padding-left: $handler-width + $pd-basic;
    }
}
            #fork-btn, #reset-btn {
                display: none;
            }

    #chart-panel {
        position: absolute;
        // top: $control-panel-height;
        top: 15px;
        right: 15px;
        bottom: 60px;
        left: 15px;
        box-sizing: border-box;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
        border-radius: 5px;
        background: #fff;
        overflow: hidden;
    }

#tool-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    #theme {
        margin-bottom: 10px;
        float: right;

        a {
            cursor: pointer;
        }
    }

    #download {
        float: right;
        margin-right: 10px;
    }
}

.dg.main .c {
    select {
        color: #000;
    }
}