$clr-primary:        #293c55;
$clr-primary-light:  #849dbe;
$clr-primary-dark:   #162436;
$clr-primary-darker: #0e151f;

$clr-secondary:      #3ba7dc;
$clr-secondary-dark: #3095c6;

$clr-contrast:       #e43c59;
$clr-contrast-dark:  #bf465b;

$clr-light:          #efefef;
$clr-lightest:       #fff;
$clr-dark:           #333;

$clr-gray:           #ccc;
$clr-gray-dark:      #999;
$clr-gray-light:     #f3f3f3;

$clr-warn:           #f93;
$clr-error:          $clr-contrast;



$clr-bg: $clr-gray-light;
$clr-text: $clr-dark;
$clr-border: $clr-gray;
$clr-border-bg: $clr-gray-light;
